#nav-bar .toolbarbutton-1:not([type="menu-button"]), 
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button, 
#nav-bar .toolbarbutton-1 > .toolbarbutton-menubutton-dropmarker {
    padding: 0 !important; 
}

/* URL BAR */
#urlbar:not([focused]) .urlbar-input{ 
    text-align: center !important; 
}
#urlbar:not([focused]) .urlbar-input-box {
    text-align: center;
}

#identity-icon-labels {
    transform: translateY(-1px);
}

:root {
    --urlbar-icon-border-radius: 6px !important;
}

#urlbar-background {
    /* background-image: url("WhiteNoiseDitheringBlurred.png") !important; */
    padding: 2px !important;
    margin: 1px 0 !important;
    border-style: solid !important;
    border-color: rgba(128, 128, 128, 0.2) !important;
    border-width: 2px !important;
    border-radius: 8px !important;
}
#identity-box.extensionPage{
    display: none !important; 
}


/* buttons design */
#nav-bar toolbarbutton > .toolbarbutton-icon {
    padding: 3.25px 11px !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    height: 30px !important;
    width: 39px !important;
    border-radius: 7px !important;
}

/* Remove back button circle */
#back-button:not(:hover),
#back-button:not(:hover) > .toolbarbutton-icon {
background: transparent !important;
border: none !important; box-shadow: none !important; }